@page "/account"
@attribute [Authorize]
@layout MainLayout
    <h3>MyAccount</h3>
<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <NavLink href="account/settings/{id}" class="btn btn-link">Edit account</NavLink>
        <NavLink href="account/delete/{id}" class="btn btn-link">Delete account</NavLink>
    </div>
</div>

